*
{
	padding: 0;
	margin: 0;
}

body, html
{
	height: 100%
}

body
{
	background: url(../images/grid_larger_tile2.png);
	font-family: sans-serif;
	font-size: 13px;
	color: #fff;
	overflow: hidden;
	position: relative;
}

#cursor
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/select.png) no-repeat;
	margin-left: 5px;
	margin-top: 16px;
	width: 32px;
	height: 8px;
	z-index: 2;
}

#blocks
{
	position: relative;
	top: 0; 
	left: 0;
	z-index: 1;
}

.block
{
	width: 28px;
	height: 28px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	background-image: url(../images/blocks.png);
	background-repeat: no-repeat;
}

.block.active
{
	background-position: 0 -168px;
}

.block.preview
{
	opacity: 0.4;
}

nav
{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: #333;
	float: left;

	background-image: linear-gradient(bottom, rgb(57,65,71) 0%, rgb(23,29,34) 100%);
	background-image: -o-linear-gradient(bottom, rgb(57,65,71) 0%, rgb(23,29,34) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(57,65,71) 0%, rgb(23,29,34) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(57,65,71) 0%, rgb(23,29,34) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(57,65,71) 0%, rgb(23,29,34) 100%);

	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.75);
}

	nav ul
	{
		float: left;
	}

	nav li
	{
		display: block;
		float: left;
		clear: none;
		margin-right: 10px;
	}
	
	nav a
	{
		color: #fff;
		height: 20px;
		line-height: 20px;
		display: block;
		float: right;
		text-decoration: none;
	}
	
	nav a:hover
	{
		
	}

	nav h1
	{
		float: left;
		font-weight: normal;
		font-size: 14px;
		margin-bottom: 10px;
		color: #8D969A;
	}

	nav > div
	{
		float: left;
		padding: 15px;
	}

	nav > div > ul
	{
		clear: both;
	}

.size-sliders,
.delete-info
{
	width: 100%;
	float: none;
	padding: 15px;
	background-image: linear-gradient(bottom, rgb(150,0,0) 21%, rgb(179,13,13) 100%);
	background-image: -o-linear-gradient(bottom, rgb(150,0,0) 21%, rgb(179,13,13) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(150,0,0) 21%, rgb(179,13,13) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(150,0,0) 21%, rgb(179,13,13) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(150,0,0) 21%, rgb(179,13,13) 100%);
	border-bottom: 1px solid rgba(0, 0, 0, 0.75);

	display: none;
}

	.size-sliders h1,
	.delete-info h1
	{
		color: #fff;
		float: left;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 8px;
	}

	.size-sliders ul
	{
		clear: none;
	}

	.size-sliders::after,
	.size-sliders::before,
	.delete-info::before,
	.delete-info::after
	{
		clear: both;
		content: '';
		display: table;
	}

	.size-sliders li h1
	{
		width: 75px;
		color: #D89495;
		text-align: right;
		margin-left: 0;
	}

	.size-sliders .ui-slider
	{
		display: block;
		background: #7d0000;
		height: 3px;
		width: 180px;
		float: left;
		margin-left: 5px;
		margin-top: 6px;
		border-radius: 3px;

		position: relative;
		z-index: 5;
	}

	.slider
	{
		float: right;
		clear: none;
		background: #000;
		height: 3px;
		width: 60px;
		margin-top: 32px;
	}

	.ui-slider-handle
	{
		height: 10px;
		width: 10px;
		background: #eee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		display: block;
		position: absolute;
		float: none;
		clear: none;
		padding: 0;
		top: -4px;
		z-index: 15;
	}

	.delete-info h1
	{
		line-height: 25px;
		height: 25px;
	}

	.delete-info a
	{
		margin-right: 10px;
		margin-left: 8px;
		float: left;
		padding: 0 7px;
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;

		line-height: 23px;
		height: 23px;

		border: 1px rgba(255, 255, 255, 0.6) solid;

/*		background-image: linear-gradient(bottom, rgb(255,255,255) 21%, rgb(247,243,243) 100%);
		background-image: -o-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(247,243,243) 100%);
		background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(247,243,243) 100%);
		background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(247,243,243) 100%);
		background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 21%, rgb(247,243,243) 100%);*/

		box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

		color: #e2c9c9;
	}

	.delete-info p
	{
		margin-bottom: 0;
		float: left;
		line-height: 25px;
		height: 25px;
	}

.color-buttons
{

}

	.color-buttons h1
	{

	}

	.color-buttons ul
	{
		clear: both;
	}

	.color-buttons a
	{
		background-image: url(../images/blocks.png);
		background-repeat: no-repeat;
		background-position: center;
		width: 20px;
		height: 10px;
		display: block;
		text-indent: -5000px;
		overflow: hidden;
		width: 28px;
		height: 28px;
	}

	.color-buttons .active
	{
		box-shadow: 0 0 10px rgba(255,255,255,0.7);
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 11px;
	}

	.color-buttons a:hover
	{
		box-shadow: 0 0 10px rgba(255,255,255,1);
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 11px;
	}

.mode-buttons
{
	clear: both;
}
	.mode-buttons h1
	{
		margin-left: 8px;
	}
	
	.mode-buttons a
	{
		display: block;
		float: left;
		line-height: 19px;
		height: 20px;
		color: #CACACA;
		padding: 0 8px;
	}

	.mode-buttons .active
	{
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
		background-color: rgba(255, 255, 255, 0.3);
		color: white;
		border-radius: 10px;
	}

	.mode-buttons a:hover
	{
		color: #fff;
	}

.file-buttons
{
	float: right;
}
	
#color-button-red,
.color-red
{
	background-position: 0 -112px;
}
	
#color-button-green,
.color-green
{
	background-position: 0 -56px;
}

#color-button-pink,
.color-pink
{
	background-position: 0 -84px;
}

#color-button-blue,
.color-blue
{
	background-position: 0 0;
}

#color-button-yellow,
.color-yellow
{
	background-position: 0 -140px;
}

#color-button-orange,
.color-orange
{
	background-position: 0 -28px;
}

#color-button-transparent,
.color-transparent
{
	background-position: -28px -168px;
}

.block.selected
{
	background-position: 0 -168px;
}

.slider-container
{
	float: left;
	clear: none;
	width: 120px;
	margin-right: 20px;
}

#selection
{
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border: 1px rgba(0, 0, 0, 0.5) solid;
	border-radius: 2px;
}