*
{
	padding: 0;
	margin: 0;
}

body, html
{
	height: 100%
}

body
{
	background: url(../images/grid.png);
	font-family: sans-serif;
	font-size: 13px;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.browser-warning
{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333;
	background: #fff;
	position: absolute;
	z-index: 200;
}

#blocks
{
	display: none;
}

#blocks.blocks-active
{
	display: block;
}
	.block.active
	{
		background-position: 0 -168px;
	}

	.info-button
	{
		margin-right: 10px;
		margin-left: 8px;
		float: left;
		padding: 0 7px;
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;
		line-height: 23px;
		height: 23px;
		background: #efefef;
		color: #06f;
		text-decoration: none;
	}

	.info-button.inactive,
	.info-button.inactive:hover
	{
		opacity: 0.5;
		cursor: default;
		color: #ccc;
		background-color: #efefef;
	}

	.info-button:hover
	{
		color: #fff;
		background-color: #06f;
		text-decoration: none;
	}

.file-buttons
{
	float: right;
}

#gallery
{
	display: none;
}

#gallery.gallery-active
{
	display: block;
}

	#gallery .block
	{
				transition: all 0.3s ease-out;
			 -o-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
		   -moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
		-webkit-transform: translateZ(0);
		   -moz-transform: translateZ(0);
	}

	.gallery-sketch
	{
		display: none
	}

	.gallery-sketch.active
	{
		display: block;
	}

.toggle-button
{
	display: block;
	background: #fff;
	color: #06F;
	font-weight: bold;
	text-decoration: none;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border: 1px #efefef solid;
	border-radius: 2px;
	float: left;
}

.toggle-button
{
	width: auto;
	float: left;
	clear: none;
	position: absolute;
	right: 30px;
	top: 30px;
	padding: 0 10px;
	z-index: 10;
	display: none;
}

.toggle-button.active
{
	display: block;
}

.bottom-bar
{
		bottom: 0;
		left: 0;
		width: 100%;
		background: white;
		z-index: 3;
		border-top: 1px #ECECEC solid;
		float: left;
		color: #666;
		top: auto;
		position: absolute;
		padding: 15px 0px;
	}

	.gallery-info
	{
		margin-left: 20px;
		opacity: 0;
				transition: opacity 0.5s ease-out;
			 -o-transition: opacity 0.5s ease-out;
			-ms-transition: opacity 0.5s ease-out;
		   -moz-transition: opacity 0.5s ease-out;
		-webkit-transition: opacity 0.5s ease-out;
	}

	.bottom-bar
	{
		font-size: 12px;
	}

	.gallery-info a,
	.bottom-bar a
	{
		color: #06f;
		text-decoration: none;
	}

	.gallery-info a:hover,
	.bottom-bar a:hover
	{
		text-decoration: underline;
	}

	.gallery-info.active
	{
		opacity: 1;
	}
		.gallery-info h1,
		.gallery-info p
		{
			margin-left: 0;
			float: left;
			margin-left: 10px;
			display: none;
		}

		.gallery-info h1
		{
			font-size: 12px;
		}

		.gallery-info p
		{

		}

		.gallery-info h1.active,
		.gallery-info p.active,
		.gallery-info p.sketch-download
		{
			display: block;
		}

		.gallery-info p.sketch-download a
		{
			text-decoration: none;
			margin-top: -4px;
		}

	#gallery-page
	{
		float: right;
		display: block;
		width: auto;
		opacity: 1;
		margin-right: 10px;
	}

	#gallery-playpause
	{
		float: right;
		display: block;
		margin-right: 10px;
		color: #999;
		opacity: 1;
			transition: opacity 0.2s ease-out;
		 -o-transition: opacity 0.2s ease-out;
		-ms-transition: opacity 0.2s ease-out;
	   -moz-transition: opacity 0.2s ease-out;
	-webkit-transition: opacity 0.2s ease-out;
	}

	#gallery-playpause.disabled
	{
		opacity: 0.3;
		cursor: default;
	}


	.gallery-play,
	.gallery-pause
	{
		display: block;
		text-align: right;
		margin-right: 5px;
		float: left;
		color: #999;
	}

	.gallery-play.active,
	.gallery-pause.active
	{
		color: #06f;
	}

	.gallery-controls
	{
		margin-right: 20px;
	}

.dialog
{
	position: absolute;
	left: 50%;
	top: 80px;
	width: 300px;
	padding: 25px;
	background: #fff;
	border: 1px #eee solid;
	margin-left: -175px;
	z-index: 12;
}

	.dialog p
	{
		color: #333;
		margin-bottom: 6px;
	}

	.dialog a
	{
		color: #06f;
		text-decoration: none;
		display: block;
		float: left;
		margin-right: 5px;
	}

	.dialog-confirm
	{
		clear: both;
	}

	.dialog a:hover
	{
		text-decoration: underline;
	}

footer
{
	display: block;
	position: absolute;
	bottom: 70px;
	right: 30px;
	color: #333;
}

footer a
{
	color: #06f;
	text-decoration: none;
}

footer a:hover
{
	text-decoration: underline;
}