*
{
	padding: 0;
	margin: 0;
}

body, html
{
	height: 100%
}

body
{
	background: url(../images/grid.png);
	font-family: sans-serif;
	font-size: 13px;
	color: #fff;
	overflow: hidden;
	position: relative;
}

.browser-warning
{
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333;
	background: #fff;
	position: absolute;
	z-index: 200;
}

#cursor
{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/select.png) no-repeat;
	margin-left: 5px;
	margin-top: 7px;
	width: 32px;
	height: 18px;
	z-index: 2;
	background-position: 0 -4px;
}

#blocks
{
	display: none;
}

#blocks.blocks-active
{
	display: block;
}
	.block.active
	{
		background-position: 0 -168px;
	}

	.block.preview
	{
		opacity: 0.6;
	}

	.block.preview.color-transparent
	{
		opacity: 0.8;
		background-position: -56px -168px;
	}

	#blocks.no-preview .block.preview
	{
		display: none;

	}

	#blocks.no-preview #cursor
	{
		display: none;
	}

nav
{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	background: #FCFCFC;
	float: left;

	display: none;

	border-top: 1px #ddd solid;
}

	nav ul
	{
		float: left;
	}

	nav li
	{
		display: block;
		float: left;
		clear: none;
		margin-right: 10px;
	}
	
	nav a
	{
		color: #fff;
		height: 20px;
		line-height: 20px;
		display: block;
		float: right;
		text-decoration: none;
	}
	
	nav a:hover
	{
		
	}

	nav h1
	{
		float: left;
		font-weight: bold;
		margin-bottom: 10px;
		color: #333;
		font-size: 12px;
	}

	nav > div
	{
		float: left;
		padding: 15px;
	}

	nav > div > ul
	{
		clear: both;
		margin-top: 5px;
	}

	nav > div > ul a
	{
		color: #06f;
	}

	nav > div > ul a:hover
	{
		text-decoration: underline;
	}

	.stats
	{
		position: absolute;
		bottom: 175px;
		width: auto;
		right: 30px;
		left: auto;
		text-align: right;
		color: #333;
	}

		.stats .count-color
		{
			display: none;
		}

		.stats:hover .count-color
		{
			display: block;
		}

.info-container
{
	float: left;
	clear: both;
	width: 100%;
	
	background: #fff;
	
	color: #333;
	padding: 0;
	
}

.info-container > *
{
	float: none;
	padding: 15px;
	display: none;
	width: 100%;
	min-height: 25px;
	border-bottom: 1px #efefef solid;
	color: #666;
	float: left;
}

	.info-container h1
	{
		color: #333;
		font-weight: normal;
		float: left;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 8px;
		line-height: 25px;
		height: 25px;
	}

	.size-sliders ul
	{
		clear: none;
	}

		.nav-slider
		{
			display: block;
			float: left;
			background: #CCC;
			width: 200px;
			height: 4px;
			position: relative;
			margin-top: 12px;
		}

		.ui-slider-handle
		{
			position: absolute;
			height: 10px;
			width: 10px;
			background: #333;
			border-radius: 8px;
			outline: none;
			margin-top: -5px;
			margin-left: -7px;
			border: 2px white solid;
			outline: none;
		}

		.ui-slider-handle.ui-state-active,
		.ui-slider-handle.ui-state-focus,
		.ui-slider-handle.ui-state-hover
		{
			background-color: #06f;
		}

	.info-container::before,
	.info-container::after
	{
		clear: both;
		content: '';
		display: table;
	}

	.multiple-info li h1
	{
		width: 75px;
		font-weight: normal;
		color: #666;
		text-align: right;
	}

	.delete-info h1,
	.export-info h1,
	.import-info h1
	{
		line-height: 25px;
		height: 25px;
	}

	.info-button
	{
		margin-right: 10px;
		margin-left: 8px;
		float: left;
		padding: 0 7px;
		border-radius: 5px;
		margin-left: 10px;
		margin-right: 10px;
		line-height: 23px;
		height: 23px;
		background: #efefef;
		color: #06f;
	}

	.info-button.inactive,
	.info-button.inactive:hover
	{
		opacity: 0.5;
		cursor: default;
		color: #ccc;
		background-color: #efefef;
	}

	.info-button:hover
	{
		color: #fff;
		background-color: #06f;
	}

	.info-container p
	{
		margin-bottom: 0;
		float: left;
		line-height: 25px;
		min-height: 25px;
	}

	.export-info input,
	.import-info input,
	.save-info input
	{
		display: block;
		float: left;
		color: #666;
		border-radius: 5px;
		background: #fcfcfc;
		border: 1px #efefef solid;
		line-height: 23px;
		height: 23px;
		padding: 0 7px;
		outline: none;
		font-family: sans-serif;
		font-size: 12px;
		margin-right: 15px;
	}

	.export-info input:active,
	.export-info input:focus,
	.import-info input:active,
	.import-info input:focus
	{
		color: #333;,
		border: 1px #fff solid;
	}

	.export-info label,
	.import-info label,
	.save-info label
	{
		display: block;
		float: left;
		line-height: 25px;
		height: 25px;
		margin-right: 10px;
		color: #999;
	}

	.sketch-list
	{
		display: block;
		clear: both;
		float: left;
		margin-left: 8px;
	}

		.sketch-list li
		{
			float: left;
			display: block;
		}

		.sketch-list a
		{
			color: #06f;
			display: inline;
			float: none;
		}

		.sketch-list a:hover
		{
			text-decoration: underline;
		}

		.sketch-list .sketch-name
		{
			width: 120px;
			overflow: hidden;
			text-align: left;
		}

		.sketch-list .sketch-date
		{
			width: 110px;
			color: #999;
		}


.color-buttons
{

}

	.color-buttons h1
	{

	}

	.color-buttons ul
	{
		clear: both;
		margin-top: -5px
	}

	.color-buttons li
	{
		padding: 5px;
		border: 1px #efefef solid;
		border-radius: 20px;

			    transition: all 0.2s linear;
			 -o-transition: all 0.2s linear;
		   -moz-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
	}

	.color-buttons li.active
	{
		background-color: #fff;
		border: 1px #aaa solid;
	}

	.color-buttons li:hover
	{
		background-color: #fff;
	}

	.color-buttons a
	{
		background-image: url(../images/blocks.png);
		background-repeat: no-repeat;
		display: block;
		text-indent: -5000px;
		overflow: hidden;
		width: 28px;
		height: 28px;

	}

	.color-buttons .active
	{
	
	}

	.color-buttons a:hover
	{
		box-shadow: 0 0 10px rgba(255,255,255,1);
		background-color: rgba(255, 255, 255, 0.5);
		border-radius: 11px;
	}

.mode-buttons
{
	clear: both;
}
	.mode-buttons h1
	{
		margin-left: 8px;
	}
	
	.mode-buttons a
	{
		display: block;
		float: left;
		line-height: 19px;
		height: 20px;
		color: #06f;
		padding: 0 8px;
		border-radius: 3px;
		color: #06f;
		
		text-decoration: none;
	}

	.mode-buttons .active,
	.mode-buttons .active:hover
	{
		text-decoration: none;
		background-color: #06f;
		color: #fff;
	}

	.mode-buttons a:hover
	{
		text-decoration: none;
		background-color: #fff;
	}

.file-buttons
{
	float: right;
}
	
.block.selected
{
	background-position: 0 -168px;
}

.slider-container
{
	float: left;
	clear: none;
	width: 120px;
	margin-right: 20px;
}

#selection
{
	position: absolute;
	background: rgba(0, 0, 0, 0.1);
	border: 1px rgba(0, 0, 0, 0.5) solid;
	border-radius: 2px;
}

.help
{
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 5;
	float: left;	
	color: #666;

}

	.help-text
	{
		display: none;
		overflow: auto;
		background: #fff;
		padding: 30px 35px;
		line-height: 20px;
		clear: both;	
		max-height: 300px;
		height: 100%;
		width: 100%;
		max-width: 320px;
		border: 1px #efefef solid;
		border-radius: 2px;
	}

	.help.active .help-text
	{
		display: block;
	}

	.help h1
	{
		font-size: 12px;
		color: #333;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.help p
	{
		margin-bottom: 5px;
	}

	.help ul
	{
		margin-bottom: 5px;
	}

	.help-text a
	{
		color: #06f;
		text-decoration: none;
	}

	.help-text a:hover
	{
		text-decoration: underline;
	}

	.help-button,
	.toggle-button
	{
		display: block;
		background: #fff;
		color: #06F;
		font-weight: bold;
		text-decoration: none;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		border: 1px #efefef solid;
		border-radius: 2px;
		float: left;
	}

	.toggle-button
	{
		width: auto;
		float: left;
		clear: none;
		position: absolute;
		right: 50px;
		top: 50px;
		padding: 0 10px;
		z-index: 10;
		display: none;
	}

	.toggle-button.active
	{
		display: block;
	}

	.help-button
	{
		display: none;
	}

	.help-button.help-button-active
	{
		display: block;
	}

	.help-text div > *
	{
		display: none;
	}

	.help-text div > h1
	{
		display: block;
		color: #06f;
		cursor: pointer;
	}

	.help-text > .help-getting-started
	{
		margin-top: 10px;
		border-top: 1px #EEE solid;
		padding-top: 10px;
	}

	.help-text > div
	{
		border-bottom: 1px #EEE solid;
		margin-bottom: 10px;
	}

	.help-text div > h1:hover
	{
		color: #333;
		text-decoration: underline;
	}

	.help-text div.help-item-active > *
	{
		display: block;
	}

	.help-text div.help-item-active > h1
	{
		color: #333;
	}

	.help-button:hover,
	.help.active .help-button
	{
		background-color: #06f;
		color: #fff;
	}

#gallery
{
	display: none;
}

#gallery.gallery-active
{
	display: block;
}

	#gallery .block
	{
				transition: all 0.3s ease-out;
			 -o-transition: all 0.3s ease-out;
		   -moz-transition: all 0.3s ease-out;
		-webkit-transition: all 0.3s ease-out;
	}

	.gallery-sketch
	{
		display: none
	}

	.gallery-sketch.active
	{
		display: block;
	}

	.gallery-info
	{
		bottom: 0;
		left: 0;
		width: 100%;
		background: white;
		z-index: 3;
		border-top: 1px #ECECEC solid;
		float: left;
		color: #666;
		top: auto;
		position: absolute;
		padding: 15px 0px;
	}

	.gallery-info a
	{
		color: #06f;
		text-decoration: none;
	}

	.gallery-info a:hover
	{
		text-decoration: underline;
	}

	.gallery-info.gallery-active
	{
		display: block;
	}
		.gallery-info h1,
		.gallery-info p
		{
			margin-left: 0;
			opacity: 0;
			white-space: nowrap;
			overflow-x: hidden;
				transition: opacity 0.5s ease-out;
			 -o-transition: opacity 0.5s ease-out;
		   -moz-transition: opacity 0.5s ease-out;
		-webkit-transition: opacity 0.5s ease-out;
			float: left;
			margin-left: 10px;
		}

		.gallery-info h1
		{
			font-size: 12px;
		}

		.gallery-info p
		{

		}

		.gallery-info p.active,
		.gallery-info h1.active
		{
			opacity: 1;
		}

		#gallery-page
		{
			float: right;
			display: block;
			width: auto;
			opacity: 1;
			margin-right: 10px;
		}

		#gallery-playpause
		{
			float: right;
			display: block;
			margin-right: 10px;
			color: #999;
			opacity: 1;
				transition: opacity 0.2s ease-out;
			 -o-transition: opacity 0.2s ease-out;
		   -moz-transition: opacity 0.2s ease-out;
		-webkit-transition: opacity 0.2s ease-out;
		}

		#gallery-playpause.disabled
		{
			opacity: 0.3;
			cursor: default;
		}


		.gallery-play,
		.gallery-pause
		{
			display: block;
			text-align: right;
			margin-right: 5px;
			float: left;
			color: #999;
		}

		.gallery-play.active,
		.gallery-pause.active
		{
			color: #06f;
		}

.dialog
{
	position: absolute;
	left: 50%;
	top: 80px;
	width: 300px;
	padding: 25px;
	background: #fff;
	border: 1px #eee solid;
	margin-left: -175px;
	z-index: 12;
}

	.dialog p
	{
		color: #333;
		margin-bottom: 6px;
	}

	.dialog a
	{
		color: #06f;
		text-decoration: none;
		display: block;
		float: left;
		margin-right: 5px;
	}

	.dialog-confirm
	{
		clear: both;
	}

	.dialog a:hover
	{
		text-decoration: underline;
	}
