*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: sans-serif;
	font-size: 12px;
	color #666;
	line-height: 20px;
	color: #666;
}

h1
{
	font-size: 12px;
	font-weight: bold;
	color: #333;
	margin-bottom: 10px;
}

h2
{
	font-size: 12px;
	font-weight: bold;
	color: #666;
	margin-bottom: 5px;
}

a
{
	color: #06f;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

section
{
	padding: 30px 0;
	border-bottom: 1px #efefef solid;
	margin: 0 auto;
}

section > *
{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
}

label
{
	display: block;
	float: left;
	width: 100%;
	max-width: 150px;
	height: 26px;
	line-height: 26px;
	clear: left;
	margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
input[type="file"],
input[type="email"]
{
	display: block;
	width: 100%;
	max-width: 300px;
	height: 18px;
	padding: 3px;

	line-height: 18px;
	font-family: "Menlo", "Lucida Mono", monospace;
	color: #666;
	font-size: 15px;

	border: 1px #efefef solid;
	float: left;
	margin-bottom: 5px;
}

input[name="twitter"]
{
	margin-bottom: 25px;
}

input[type="submit"]
{
	clear: both;
	float: none;
	display: block;
	width: auto;
	margin-left: 150px;
}

input[required="required"],
input.required-not-filled
{
	border: 1px #333 solid;
}

footer > *
{
	width: 100%;
	max-width: 650px;
	margin: 0 auto;
	padding: 10px 0;
}